<footer>
    <ul class="footer-link auto-conatiner">
        <li>
            <h4>REVOLUTION</h4>
            <ul>
                <li><a href="#">Build Anything Visually</a></li>
                <li><a href="#">Pro-Level Design</a></li>
                <li><a href="#">Templates</a></li>
                <li><a href="#">Advanced Transitions</a></li>
                <li><a href="#">Addons</a></li>
                <li><a href="#">Upgrade To Premium</a></li>
                <li><a href="#">Affiliate Program</a></li>
                <li><a href="#">Jobs</a></li>
            </ul>
        </li>
        <li>
            <h4>SUPPORT</h4>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Previry</a></li>
            </ul>
        </li>
        <li>
            <h4>VERSIONS</h4>
            <ul>
                <li><a href="#">WordPress</a></li>
                <li><a href="#">jQuery</a></li>
                <li><a href="#">Shopify</a></li>
                <li><a href="#">Magento</a></li>
                <li><a href="#">Prestashop</a></li>
                <li><a href="#">OpenCart</a></li>
                <li><a href="#">TYPO3</a></li>
                <li><a href="#">Essential Grid Gallery</a></li>
            </ul>
        </li>
        <li>
            <h4>RESOURCES</h4>
            <ul>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Legal Disclosure (Impressum)</a></li>
                <li><a href="#">Privacy Policy (Datenschutz)</a></li>
                <li><a href="#">Licensing</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
        </li>
    </ul>
    <hr>
    <div class="copy-footer auto-conatiner flex-just-sb-align">
        <ul class="flex-just-align">
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <p>&copy; Copyright 2021 | | Reserved by winfoa.com</p>
    </div>
</footer>