<header>
    <div class="top_hdr">
        <div class="auto-conatiner top_cont flex-just-sb-align">
            <ul>
                <li><a href="mailto:winfoa.com@gmail.com">winfoa.com@gmail.com</a></li>
                <!-- <li><a href="">Mohanpur, Gangrahao, Bakhri, Begusarai, Bihar ( 848201 ) </a></li> -->
                <li><a href="tel:+919534527428">+91 9534527428 / +91 7488914700</a></li>
            </ul>
            <ul>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="header auto-conatiner flex-just-sb">
        <div class="menu flex-just-sb-align">
            <div id="logo">
                <h1><a href="#" target="_blank">WINFOA</a></h1>
                <!-- <span>A.ONE WEB DEVELOPMENT COMPANY</span> -->
            </div>
            <ul id="menuBtn">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <ul id="navbar">
            <li><a class="active" href="..//">Home</a></li>
            <li><a href="../web">Web</a></li>
            <li><a href="../tools">Tools</a></li>
            <li><a href="../services">Services</a></li>
            <li><a href="../help">Help</a></li>
            <li><a href="../about">About</a></li>
        </ul>
    </div>
</header>

<main></main>